---
- name: Update Apache ServerName
  lineinfile:
    path: /etc/apache2/sites-available/cc-frontend.conf
    regexp: '^[ \t]*ServerName.*'
    line: "  ServerName {{ s9s_web_server_host }}"
    backrefs: yes

- name: Update Apache URL
  lineinfile:
    path: /etc/apache2/sites-available/cc-frontend.conf
    regexp: 'https://cc2.severalnines.local:9443.*'
    line: "  https://{{ s9s_web_server_host }}/"
    backrefs: yes

- name: Change port from 9443 to 443 in Listen
  lineinfile:
    path: /etc/apache2/sites-available/cc-frontend.conf
    regexp: "^(#)?Listen 9443"
    line: "#Listen 443"
    backrefs: yes

- name: Update port from 9443 to 443 in other locations
  lineinfile:
    path: /etc/apache2/sites-available/cc-frontend.conf
    regexp: "^(#)?9443"
    line: "443"
    backrefs: yes

#- name: Configure Apache AllowOverride.
#  replace:
#     dest={{ item }} regexp='AllowOverride None' replace='AllowOverride All'
#   with_items:
#     - "{{ apache_config }}"
#     - "{{ apache_ssl_config }}"
#   notify: restart apache
#   when: apache_install_packages
#   tags: mydebug

# - name: Check if SSL key file is exist.
#   stat: path={{ key_file }}
#   register: ssl_key_copied

# - name: Check if SSL certificate file is exist.
#   stat: path={{ cert_file }}
#   register: ssl_cert_copied

# - name: Copy SSL key file.
#   command: mv {{ apache_doc_root}}/clustercontrol/ssl/server.key {{ key_file }}
#   when: ssl_key_copied.stat.exists == false

# - name: Copy SSL cert file.
#   command: mv {{ apache_doc_root}}/clustercontrol/ssl/server.crt {{ cert_file }}
#   when: ssl_cert_copied.stat.exists == false

# - name: Configure SSL key file.
#   lineinfile:
#     dest={{ apache_ssl_config }} regexp="^[ \t]*SSLCertificateKeyFile.*" line="SSLCertificateKeyFile {{ key_file }}"
#   notify: restart apache

# - name: Configure SSL cert file.
#   lineinfile:
#     dest={{ apache_ssl_config }} regexp="^[ \t]*SSLCertificateFile.*" line="SSLCertificateFile {{ cert_file }}"
#   notify: restart apache

- name: Ensure Apache is started and enabled on boot.
  service: "name={{ apache_daemon }} state=started enabled=yes"
  register: apache_service_configuration

- name: Enable Apache2 modules (headers)
  apache2_module:
    state: present
    name: headers
    ignore_configcheck: yes
  when: (ansible_distribution == 'Debian' and ansible_distribution_major_version|int > 7) or (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int > 12)

- name: Enable Apache2 modules (proxy)
  apache2_module:
    state: present
    name: proxy
  when: (ansible_distribution == 'Debian' and ansible_distribution_major_version|int > 7) or (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int > 12)

- name: Enable Apache2 modules (proxy_http)
  apache2_module:
    state: present
    name: proxy_http
  when: (ansible_distribution == 'Debian' and ansible_distribution_major_version|int > 7) or (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int > 12)

- name: Enable Apache2 modules (proxy_wstunnel)
  apache2_module:
    state: present
    name: proxy_wstunnel
  when: (ansible_distribution == 'Debian' and ansible_distribution_major_version|int > 7) or (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int > 12)
  notify: restart apache

  - name: Enable Apache2 modules (rewrite)
  apache2_module:
    state: present
    name: rewrite
  when: (ansible_distribution == 'Debian' and ansible_distribution_major_version|int > 7) or (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int > 12)
  notify: restart apache

- name: Enable Apache2 modules (ssl)
  apache2_module:
    state: present
    name: ssl
  when: (ansible_distribution == 'Debian' and ansible_distribution_major_version|int > 7) or (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int > 12)
  notify: restart apache

